<h2>Length Converter</h2>
<form name="length_con">

<table>

	<tr>
		<div class="form-group">
		<td>From </td>

		<td>
			<select class="form-control" name=from_unit onChange="convert_unit()";>
			<option> centimeters
			<option> meters
			<option> kilometers
			<option> miles
			<option> inches
			<option> feet
			<option> yards
			</select>
		</div>

		</td>
		<td>  To </td>
		<td>
			<select class="form-control" name=to_unit onChange="convert_unit()";>
			<option> centimeters
			<option> meters
			<option> kilometers
			<option> miles
			<option> inches
			<option> feet
			<option> yards
			</select>

		</td>
	</tr>
	<tr>
		<td> </td><td colspan="3"><div id="formula">centimeters = 1 centimeters</div></td>
	</tr>

	<tr>
		<td colspan="4"> </td>
	</tr>

	<tr>
	<div class="form-group">
		<td>Enter </td>
		<td><input type="text" name="from_value" value="1" size="12" maxlength="12" class="form-control"></td>
		<td> <input type=button value="To" onClick="convert_unit()"; class="btn btn-sm btn-success"> </td>
		<td><div id="to_value">1</div></td>
	</div>
	</tr>


</table>

</form>
