<h1><center>My Notes</center></h1>
  <div class="container">
   <ul class="list-group">
    <% @my_notes.each do |note| %>
	<%= link_to note, style: "text-decoration:none;", class: "lead" do %>
        <li class="list-group-item list-group-item-info"><%= note.created_at.strftime("%m-%d-%y")%>: <%= note.title %></li>
	<% end %>
        <%# link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
   </ul>
  </div>
<br>

<%= link_to 'New Note', new_note_path, class: "btn btn-success btn-block" %>
