<% @timers %>



<!-- 3rd timer -->

<head>
        <style type="text/css">
        *
                {
                margin: auto;
                padding: 0;
                }

        input, textarea
                {
                width: 100%;
                font: normal 10pt verdana;
                }
        </style>
<script language="javascript">
// stopwatch script by Brothercake - http://www.brothercake.com/ (format modified by Proft, 11 Sep 04)

var base = 60;

var clocktimer,dateObj,dh,dm,ds,ms;
var readout='';
var h=1;
var m=1;
var tm=1;
var s=0;
var ts=0;
var ms=0;
var show=true;
var init=0;
var mPLUS=new Array(
	'm0',
	'm1',
	'm2',
	'm3',
	'm4',
	'm5',
	'm6',
	'm7',
	'm8',
	'm9'
	);
var ii=0;

function clearALL() {
	clearTimeout(clocktimer);
	h=1;m=1;tm=1;s=0;ts=0;ms=0;
	init=0;show=true;
	readout='00:00:00.00';
	document.clockform.clock.value=readout;
	var CF = document.clockform;
	for (ij=0;ij<=9;ij++) { CF[mPLUS[ij]].value = ''; }
	ii = 0;
	}

function addMEM() {
if (init>0) {
		var CF = document.clockform;
		CF[mPLUS[ii]].value = readout;
		if (ii==9) { ii = 0; } else { ii++; }
		}
	}


function startTIME() {

var cdateObj = new Date();
var t = (cdateObj.getTime() - dateObj.getTime())-(s*1000);

if (t>999) { s++; }

if (s>=(m*base)) {
	ts=0;
	m++;
	} else {
	ts=parseInt((ms/100)+s);
	if(ts>=base) { ts=ts-((m-1)*base); }
	}

if (m>(h*base)) {
	tm=1;
	h++;
	} else {
	tm=parseInt((ms/100)+m);
	if(tm>=base) { tm=tm-((h-1)*base); }
	}

ms = Math.round(t/10);
if (ms>99) {ms=0;}
if (ms==0) {ms='00';}
if (ms>0&&ms<=9) { ms = '0'+ms; }

if (ts>0) { ds = ts; if (ts<10) { ds = '0'+ts; }} else { ds = '00'; }
dm=tm-1;
if (dm>0) { if (dm<10) { dm = '0'+dm; }} else { dm = '00'; }
dh=h-1;
if (dh>0) { if (dh<10) { dh = '0'+dh; }} else { dh = '00'; }

readout = dh + ':' + dm + ':' + ds + '.' + ms;
if (show==true) { document.clockform.clock.value = readout; }

clocktimer = setTimeout("startTIME()",1);
}

function findTIME() {
if (init==0) {
	dateObj = new Date();
	startTIME();
	init=1;
	} else {
	if(show==true) {
		show=false;
		} else {
		show=true;
		}
	}
}
</script>
</head>
<center><h2>Lap Timer</h2></center>
<center><p class="bg-info"><font style="font-size:11pt">&nbsp;Timer continues running on Pause</font></p> </center>
<form name=clockform>
<table align=center cellpadding=5>
 <tr>
  <td>
  <table cellpadding=3 cellspacing=0 border=0 align=center>
    <tr>
	<td colspan=2>
	  <input name=clock value="00:00:00.00" style="text-align:center; height:80px; font-size:32px; font-weight:bold; background-color: rgba(255,0,255, .00);" readonly>
	</td>
    </tr>
    <tr><td><br></td></tr>
    <tr>
	<td>
	  <input name=starter class="btn btn-success btn-lg" type=button value="Start/Pause" style=" " onclick="findTIME()">
	</td>
	<td>
	   <input name=clearer class="btn btn-danger btn-lg" type=button value="Reset" style="" onclick="clearALL()">
	</td>
    </tr>
    <tr><td><br></td></tr>
    <tr>
	<td colspan=2>
	   <input name=marker class="btn btn-info btn-lg" type=button value="Split" style="" onclick="addMEM()"><br><br>
	</td>
    </tr>
    <tr><td colspan=1 align=left>&nbsp;Split 1  <input name=m0 id="m0" class="form-control"style="text-align:center;" readonly></td>
	<td><button id="copy-button1" class="btn btn-info btn-md" data-clipboard-text='Default clipboard text from attribute' data-clipboard-target="m0" title="Click to copy me." onClick="return false;">Copy Time</button></td>
    </tr>
    <tr><td colspan=1 align=left>&nbsp;Split 2  <input name=m1 id="m1"class="form-control"style="text-align:center;" readonly></td>
	<td><button id="copy-button2" class="btn btn-info btn-md" data-clipboard-text='Default clipboard text from attribute' data-clipboard-target="m1" title="Click to copy me." onClick="return false;">Copy Time</button></td>

</tr>
    <tr><td colspan=1 align=left>&nbsp;Split 3  <input name=m2 id="m2"class="form-control"style="text-align:center;" readonly></td>
	<td><button id="copy-button3" class="btn btn-info btn-md" data-clipboard-text='Default clipboard text from attribute' data-clipboard-target="m2" title="Click to copy me." onClick="return false;">Copy Time</button></td>
</tr>
    <tr><td colspan=1 align=left>&nbsp;Split 4  <input name=m3 id="m3"class="form-control"style="text-align:center;" readonly></td>
	<td><button id="copy-button4" class="btn btn-info btn-md" data-clipboard-text='Default clipboard text from attribute' data-clipboard-target="m3" title="Click to copy me." onClick="return false;">Copy Time</button></td>
    </tr>
    <tr><td colspan=1 align=left>&nbsp;Split 5  <input name=m4 id="m4"class="form-control"style="text-align:center;" readonly></td>
	<td><button id="copy-button5" class="btn btn-info btn-md" data-clipboard-text='Default clipboard text from attribute' data-clipboard-target="m4" title="Click to copy me." onClick="return false;">Copy Time</button></td>
    </tr>
    <tr><td colspan=1 align=left>&nbsp;Split 6  <input name=m5 id="m5"class="form-control"style="text-align:center;" readonly></td>
	<td><button id="copy-button6" class="btn btn-info btn-md" data-clipboard-text='Default clipboard text from attribute' data-clipboard-target="m5" title="Click to copy me." onClick="return false;">Copy Time</button></td>
    </tr>
    <tr><td colspan=1 align=left>&nbsp;Split 7  <input name=m6 id="m6"class="form-control"style="text-align:center;" readonly></td>
	<td><button id="copy-button7" class="btn btn-info btn-md" data-clipboard-text='Default clipboard text from attribute' data-clipboard-target="m6" title="Click to copy me." onClick="return false;">Copy Time</button></td>
    </tr>
    <tr><td colspan=1 align=left>&nbsp;Split 8  <input name=m7 id="m7"class="form-control"style="text-align:center;" readonly></td>
	<td><button id="copy-button8" class="btn btn-info btn-md" data-clipboard-text='Default clipboard text from attribute' data-clipboard-target="m7" title="Click to copy me." onClick="return false;">Copy Time</button></td>
    </tr>
    <tr><td colspan=1 align=left>&nbsp;Split 9  <input name=m8 id="m8"class="form-control"style="text-align:center;" readonly></td>
	<td><button id="copy-button9" class="btn btn-info btn-md" data-clipboard-text='Default clipboard text from attribute' data-clipboard-target="m8" title="Click to copy me." onClick="return false;">Copy Time</button></td>
    </tr>
    <tr><td colspan=1 align=left>&nbsp;Split 10 <input name=m9 id="m9"class="form-control"style="text-align:center;" readonly></td>
	<td><button id="copy-button10" class="btn btn-info btn-md" data-clipboard-text='Default clipboard text from attribute' data-clipboard-target="m9" title="Click to copy me." onClick="return false;">Copy Time</button></td>
    </tr>
  </table>
<hr>
    <center><font size=-1>&uarr; <a href="http://www.brothercake.com/scripts/stopwatch.php" target="_blank">Source (unmodified)</a> &uarr;<br>By Brothercake</font></center>
  </td>
 </tr>
</table>
</form>
<script>
  $(document).ready(function() {
    var clip = new ZeroClipboard($("#d_clip_button"))
    var clip1 = new ZeroClipboard($("#copy-button1"))
    var clip2 = new ZeroClipboard($("#copy-button2"))
    var clip3 = new ZeroClipboard($("#copy-button3"))
    var clip4 = new ZeroClipboard($("#copy-button4"))
    var clip5 = new ZeroClipboard($("#copy-button5"))
    var clip6 = new ZeroClipboard($("#copy-button6"))
    var clip7 = new ZeroClipboard($("#copy-button7"))
    var clip8 = new ZeroClipboard($("#copy-button8"))
    var clip9 = new ZeroClipboard($("#copy-button9"))
    var clip10 = new ZeroClipboard($("#copy-button10"))

  });

  $("#clear-test").on("click", function(){
    $("#fe_text").val("Copy me!");
    $("#testarea").val("");
  });

//event
//glue it to the button

</script>
</body>
