 <h1>My Best!</h1>
<div class="table-responsive">
 <table class="table table-striped table-bordered">
  <thead>
   <tr><th>Event</th><th>Result</th></tr>
  </thead>
  <tbody>
	<% @my_hash.each do |event, result| %>
		<tr>
			<td><%= event %></td>
			<td><%= result %></td> 
                </tr>
	<% end %>
  </tbody>
 </table>
</div>
