<p id="notice"><%= notice %></p>
<h1><%= @season.season + " " + @season.year %>'s meets</h1>

<p> I dont want to see this </p>


<%= link_to "Edit #{@season.season}", edit_season_path(@season) %> |
<%= link_to "Show my Seasons", seasons_path %>
